<div class="container-fluid" id="mainbody">
  <h1 class="center" id="login">Login Page</h1>

  <div>
    <form #simpleform="ngForm" (ngSubmit)="getValues(simpleform.value)">
      <main id="main">
        <div class="row col-xs-4">
          <label for="username">UserName: </label>
          <input
            type="text"
            [(ngModel)]="username"
            name="username"
            id="username"
          />
        </div>
        <br />
        <div class="row">
          <label for="password">Password: </label>
          <input
            type="password"
            [(ngModel)]="password"
            name="password"
            id="password"
          />
        </div>
        <br />
        <div>
          <button class="registerbtn" (click)="homepage()">Login</button>
          <button class="registerbtn" (click)="signuppage()">Signup</button>
        </div>
      </main>
    </form>
  </div>
</div>
